canvas{
    border: 1px solid black;
}
#gameDiv{
    text-align: center;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.overlay-container {
    text-align: center;
}

.info, .game_over {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: auto;
}

h2, p {
    text-align: center;
}

.info p:nth-child(n+2), .game_over p:nth-child(n+2) {
    margin-top: 10px;
}