canvas{
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}
#gameDiv{
    position: relative;
}
#gameCanvas{
    display: block;
}
#fightCanvas{
    display: none;
}